<html>
<head>
  <style>
      body {
        background: <%= color %>;
      }
    </style>
</head>
<body>
  <p>
    Your guess is <%= guess %>
  </p>
  <p>
    <%= message %>
  </p>
  <form>
    <input type='text' name='guess' />
    <input type='submit' value='Guess!' />
  </form>
</body>
</html>
